<div class="container">
    <div class="row">
        <div class="col-md-4">
        <h1>Your Order has been placed!</h1>
        <hr />
        <p>Thank you for placing an order with us.</p>
        </div>
    </div>
</div>