/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";
 


// homepage here section css starts from here
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.hero-section {
    background: linear-gradient(to bottom, #FF5733, #FF8C42); /* Gradient background */
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

// products css starts from here
.products{
    margin-top: -20vh;
}
.custom-bg-color {
    background-color: #f3f4f5;
    margin-top: -10vh;
  }
  

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: auto; /* This pushes the footer to the bottom */
  }


// css for stars on detail page of products

.rating {
    font-size: 12px; /* Adjust the font size as needed */
  }
  
  .fa-star {
    color: #ccc; /* Color of empty star */
    display: inline-block;
  }
  
  .fa-star.filled {
    color: gold; /* Color of filled star */
  }
  
  

  // css for rating page starts from here
  /* Style for the hidden radio inputs */
.hidden-radio {
  display: none;
}

/* Style for the rating circles */
.rating-circle {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0; /* Background color of the circle */
  border-radius: 50%; /* Make it a circle */
  text-align: center;
  line-height: 40px; /* Vertically center the text */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

/* Style for the rating circle when selected */
.rating-option input[type="radio"]:checked + .rating-circle {
  background-color: #ffc107; /* Change the background color when selected */
}


@media only screen and (max-width: 912px) {
    .products{
        margin-top: 0vh;
    }
    .wave{
        margin-top: -2vh;
    }
    .swave{
        margin-top: 2vh;
    }
  }